$color-primary : #fff;
$color-accent : #48dbfb;
$color-black : #000;
$back-image : url("../image/bg.jpg");
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.landing-page{
  width: 100%;
  height: 100vh;
  background:$color-black;
  position: relative;
  overflow: hidden;
}
.landing-page::after
{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $back-image no-repeat;
  background-size: cover;
  opacity: .3;
  animation: anim 25s linear infinite;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
#home .content{
  width: 100%;
  color: $color-primary;

}

#home .content h1{
  font-size: 60px;
  margin-bottom: 60px;
  margin-top: 250px;
}

#home .content h1::after{
  content: "Kunal";
  animation: textanim 10s linear infinite;
}

@keyframes textanim{
  25%{
    content: "A Developer";
  }
  50%{
    content: "A Designer";
  }
  75%{
    content: "A Youtuber";
  }
}
.sm a{
  color: $color-primary;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
  text-decoration: none;
}
#home .buttons{
  margin-top: 60px;
}

#home .buttons a{
  text-decoration:none;
  display: inline-block;
  margin: 15px 30px;
  color:$color-accent;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid $color-accent;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background-color: $color-accent;
  color: $color-primary;
}